.DS_Store

# ignore build
build
logs
*.log

.idea
.vscode

.dccache
.idea*

data

cmd/heimdalld/cmd/testdata/dump-genesis-mainnet.json
cmd/heimdalld/cmd/testdata/migrated_dump-genesis-mainnet.json
cmd/heimdalld/cmd/testdata/dump-genesis-amoy.json
cmd/heimdalld/cmd/testdata/migrated_dump-genesis-amoy.json

migration/networks/amoy/
migration/networks/mainnet/
migration/networks/mumbai/
