name: CI

on:
  push:
    branches:
      - 'main'
      - 'develop'
  pull_request:
    branches:
      - '**'
    types: [opened, synchronize]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: 'Build binaries'
        run: make build

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: 'Install linter deps'
        run: make lint-deps

      - name: 'Run linter'
        run: make lint NEW_FROM_REV=origin/develop

  test:
    name: test
    if: (github.event.action != 'closed' || github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: 'Run tests with coverage'
        run: make test-coverage

      - uses: actions/upload-artifact@v6
        with:
          name: test-coverage
          path: coverage.out

  codecov:
    if: (github.event.action != 'closed' || github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN || '' }}
          fail_ci_if_error: true
          verbose: true
