name: Kurtosis E2E Tests

on:
  push:
    branches:
      - 'main'
      - 'develop'
  pull_request:
    branches:
      - 'main'
      - 'develop'
    types: [opened, synchronize]

concurrency:
  group: kurtosis-e2e-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ENCLAVE_NAME: kurtosis-e2e

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      # This is needed because the job fails with "System.IO.IOException: No space left on device".
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: false
          docker-images: false
          dotnet: true
          haskell: true
          large-packages: false
          swap-storage: false
          tool-cache: true

      - name: Install dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install build-essential

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Checkout heimdall-v2
        uses: actions/checkout@v5
        with:
          path: heimdall-v2

      - name: Checkout bor
        uses: actions/checkout@v5
        with:
          repository: 0xPolygon/bor
          ref: develop
          path: bor

      - name: Checkout pos-workflows
        uses: actions/checkout@v5
        with:
          repository: 0xPolygon/pos-workflows
          ref: main
          path: pos-workflows

      - name: Checkout kurtosis-pos
        uses: actions/checkout@v5
        with:
          repository: 0xPolygon/kurtosis-pos
          ref: hv2/tx-eip1559-gas-price-configs
          path: kurtosis-pos

      - name: Pre kurtosis run
        uses: ./pos-workflows/.github/actions/kurtosis-pre-run
        with:
          docker_username: ${{ secrets.DOCKERHUB }}
          docker_token: ${{ secrets.DOCKERHUB_KEY }}

      - name: Build heimdall-v2 docker image
        run: |
          cd heimdall-v2
          docker build -t heimdall-v2:local --file Dockerfile .

      - name: Build bor docker image
        run: |
          cd bor
          docker build -t bor:local --file Dockerfile .

      - name: Copy kurtosis config
        run: cp ./pos-workflows/.github/configs/kurtosis-e2e.yml ./kurtosis-pos/kurtosis-e2e.yml

      - name: Kurtosis run
        run: |
          cd kurtosis-pos
          kurtosis run --args-file=kurtosis-e2e.yml --enclave=${{ env.ENCLAVE_NAME }} .

      - name: Inspect enclave
        run: kurtosis enclave inspect ${{ env.ENCLAVE_NAME }}

      - name: Test state syncs
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'bridge MATIC/POL, ERC20, and ERC721 from L1 to L2 and confirm L2 balances increased' tests/pos/bridge.bats"

      - name: Add new validator
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'add new validator' tests/pos/validator.bats"

      - name: Update validator stake
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'update validator stake' tests/pos/validator.bats"

      - name: Delegate MATIC/POL to a validator
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'delegate MATIC/POL to a validator' tests/pos/validator.bats"

      - name: Undelegate MATIC/POL from a validator
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'undelegate MATIC/POL from a validator' tests/pos/validator.bats"

      - name: Remove validator
        run: kurtosis service exec ${{ env.ENCLAVE_NAME }} test-runner "bats --filter 'remove validator' tests/pos/validator.bats"

      - name: Run smoke tests (Checkpoints and Milestones)
        run: bash ./pos-workflows/tests/kurtosis_smoke_test.sh

      - name: Run set producer downtime test
        run: |
          cd pos-workflows/tests/producer_planned_downtime
          go mod tidy
          go run .

      - name: Post kurtosis run
        if: always()
        uses: ./pos-workflows/.github/actions/kurtosis-post-run
        with:
          enclave_name: ${{ env.ENCLAVE_NAME }}
